
    .node {
        fill: #ccc;
        stroke: #fff;
        stroke-width: 2px;
    }

    body {
    	background-image: url("images/background.jpg");
        background-size: 600px;
        background-repeat: repeat;
        overflow: hidden;
    }

    h6 {
        text-align: center;
        color: white;
        font: normal 35px 'champagneAndLimousines', sans-serif;
        margin-top: 0px;
        transform:scale(1.1,1); /* W3C */
        -webkit-transform:scale(1.1,1); /* Safari and Chrome */
        -moz-transform:scale(1.1,1); /* Firefox */
        -ms-transform:scale(1.1,1); /* IE 9 */
        -o-transform:scale(1.1,1); /* Opera */
       
    }

    svg {
    	display: block;
    	margin: 0 auto 0 auto;
    }

    @font-face {
        font-family: 'champagneAndLimousines';
        src: url("fonts/Champagne_Limousines.ttf")
            format('truetype');
    }