<style type="text/css">
textarea {
  border: none;
}
textarea:focus {
  outline: none;
}
</style>
    <form>
      <div class="form-group">
        <textarea ng-model="title" class="title" placeholder='"Title"'></textarea>
      </div>
      <div class="form-group">
        <textarea ng-model="content" class="content" placeholder='Post'></textarea>
      </div>
      <input class="btn btn-blue pressBtn" ng-click="newPost()" value="Press New" type="submit" />
    </form>
  </div>
</div>

<script type="text/javascript">
function noenter() {
  return !(window.event && window.event.keyCode == 13);
}
</script>