<!-- Project Links -->
<div class="projects">
  <div class="projectHead"> 
      Projects
  </div>
  <div class="projectItems"> 
  </div>
</div>

<!-- Blog Post -->
<div class="post">
  <div class="postTitle"> 
      
  </div>
  <div class="snippetBody">
    {{data}}
    <p> 
    This is a little blog snippet. I say many things here about d3 and being a coder and some other interesting stuffs that nobody is reading right now because the blog isn't online. hopefully nobody checks the real page yet because there's no content there and if I don't get it it up soon (maybe already too late), then I'll lose my free Azuer services. EEK!</p>
  </div>
